[Unit]
Description=dataingester daemon program

[Service]
Type=simple
ExecStart=/usr/local/bin/dataingester \
	-c /etc/dataingester/dataingester.toml
User=dataingester
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
